@import 'open-props/style';
.app {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}
nav {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  gap: var(--size-7);
  list-style: none;
}
li {
  border: var(--border-size-1) solid var(--cyan-10);
  border-radius: var(--radius-conditional-3);
  padding: var(--size-2) var(--size-3);
  cursor: pointer;
  transition: box-shadow 1s var(--ease-5);
}
li:hover {
  box-shadow: var(--shadow-3);
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem 1rem;
}
.products img {
  max-width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
}
.products h2 {
  font-size: 0.8rem;
}
